body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:955px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:644px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:301px;
  width:730px;
  height:644px;
}
#u406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  height:251px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:58px;
  width:817px;
  height:251px;
}
#u407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:210px;
  width:163px;
  height:21px;
  font-size:16px;
}
#u408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:2px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:241px;
  width:681px;
  height:1px;
}
#u409_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FF6302;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:260px;
  width:73px;
  height:31px;
  font-size:24px;
  color:#FF6302;
}
#u410_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:262px;
  width:97px;
  height:31px;
  font-size:24px;
}
#u411_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:2px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:308px;
  width:681px;
  height:1px;
}
#u412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:269px;
  width:21px;
  height:17px;
}
#u413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:24px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:267px;
  width:31px;
  height:24px;
}
#u414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:31px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:153px;
  width:57px;
  height:31px;
  font-size:24px;
}
#u415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF6302;
  text-align:center;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:314px;
  width:79px;
  height:36px;
  font-size:28px;
  color:#FF6302;
  text-align:center;
}
#u416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF6302;
  text-align:center;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:535px;
  width:79px;
  height:36px;
  font-size:28px;
  color:#FF6302;
  text-align:center;
}
#u417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF6302;
  text-align:center;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:756px;
  width:79px;
  height:36px;
  font-size:28px;
  color:#FF6302;
  text-align:center;
}
#u418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
