body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1513px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:750px;
  height:1334px;
}
#u276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:146px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u277_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:148px;
  width:129px;
  height:25px;
  font-size:16px;
  color:#996633;
}
#u278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:168px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u279_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:222px;
  width:193px;
  height:25px;
  font-size:16px;
  color:#996633;
}
#u280_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:183px;
  width:0px;
  height:0px;
}
#u281_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u281_seg1 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-4px;
  width:8px;
  height:60px;
}
#u281_seg2 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:48px;
  width:54px;
  height:8px;
}
#u281_seg3 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:42px;
  width:20px;
  height:20px;
}
#u281_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:161px;
  width:0px;
  height:0px;
}
#u282_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:537px;
  height:8px;
}
#u282_seg1 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:-10px;
  width:20px;
  height:20px;
}
#u282_text {
  border-width:0px;
  position:absolute;
  left:216px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:248px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u283_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:248px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u284_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:281px;
  width:161px;
  height:25px;
  font-size:16px;
  color:#996633;
}
#u285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:248px;
  width:0px;
  height:0px;
}
#u286_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-22px;
  width:8px;
  height:22px;
}
#u286_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-22px;
  width:440px;
  height:8px;
}
#u286_seg2 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:-22px;
  width:8px;
  height:72px;
}
#u286_seg3 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:42px;
  width:120px;
  height:8px;
}
#u286_seg4 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:36px;
  width:20px;
  height:20px;
}
#u286_text {
  border-width:0px;
  position:absolute;
  left:247px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:316px;
  width:247px;
  height:103px;
}
#u287_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:443px;
  width:161px;
  height:25px;
  font-size:16px;
  color:#996633;
}
#u288_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:278px;
  width:0px;
  height:0px;
}
#u289_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u289_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:28px;
  width:220px;
  height:8px;
}
#u289_seg2 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:28px;
  width:8px;
  height:154px;
}
#u289_seg3 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:174px;
  width:19px;
  height:8px;
}
#u289_seg4 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:168px;
  width:20px;
  height:20px;
}
#u289_text {
  border-width:0px;
  position:absolute;
  left:120px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:545px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u290_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:547px;
  width:97px;
  height:25px;
  font-size:16px;
  color:#996633;
}
#u291_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:189px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:594px;
  width:247px;
  height:189px;
}
#u292_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:136px;
  background:inherit;
  background-color:rgba(153, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:594px;
  width:247px;
  height:136px;
}
#u293_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:560px;
  width:0px;
  height:0px;
}
#u294_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:340px;
  height:8px;
}
#u294_seg1 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:-10px;
  width:20px;
  height:20px;
}
#u294_text {
  border-width:0px;
  position:absolute;
  left:118px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:324px;
  width:49px;
  height:40px;
}
#u295_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:532px;
  width:49px;
  height:40px;
}
#u296_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:743px;
  width:49px;
  height:40px;
}
#u297_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
