body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:959px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  height:251px;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:296px;
  width:817px;
  height:251px;
}
#u368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:517px;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:841px;
  width:750px;
  height:517px;
}
#u369_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
