body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1577px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:139px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:750px;
  height:139px;
}
#u604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:162px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u605_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:172px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u606_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:34px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#996633;
}
#u607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:162px;
  width:0px;
  height:0px;
}
#u608_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-109px;
  width:8px;
  height:113px;
}
#u608_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-116px;
  width:20px;
  height:20px;
}
#u608_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:44px;
  width:113px;
  height:21px;
  font-size:16px;
  color:#996633;
}
#u609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:172px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u610_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-121px;
  width:8px;
  height:121px;
}
#u610_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-121px;
  width:70px;
  height:8px;
}
#u610_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-127px;
  width:20px;
  height:20px;
}
#u610_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-100px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:723px;
  width:129px;
  height:21px;
  font-size:16px;
  color:#996633;
}
#u611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:358px;
  background:inherit;
  background-color:rgba(153, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:1330px;
  top:884px;
  width:247px;
  height:358px;
  color:#000000;
}
#u612_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:1548px;
  width:177px;
  height:21px;
  font-size:16px;
  color:#996633;
}
#u613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:1499px;
  width:0px;
  height:0px;
}
#u614_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:217px;
  height:8px;
}
#u614_seg1 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:-4px;
  width:8px;
  height:68px;
}
#u614_seg2 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:56px;
  width:14px;
  height:8px;
}
#u614_seg3 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:50px;
  width:20px;
  height:20px;
}
#u614_text {
  border-width:0px;
  position:absolute;
  left:92px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:63px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:155px;
  width:96px;
  height:63px;
}
#u615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:155px;
  width:103px;
  height:63px;
}
#u616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:171px;
  width:109px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:732px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:670px;
  width:750px;
  height:732px;
}
#u618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:896px;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1397px;
  width:750px;
  height:896px;
}
#u619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:424px;
  width:0px;
  height:0px;
}
#u620_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:194px;
  height:8px;
}
#u620_seg1 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:-4px;
  width:8px;
  height:318px;
}
#u620_seg2 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:306px;
  width:16px;
  height:8px;
}
#u620_seg3 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:300px;
  width:20px;
  height:20px;
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:140px;
  top:58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:1484px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:2293px;
  width:177px;
  height:21px;
  font-size:16px;
  color:#996633;
}
#u622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:2244px;
  width:0px;
  height:0px;
}
#u623_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:217px;
  height:8px;
}
#u623_seg1 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:-4px;
  width:8px;
  height:68px;
}
#u623_seg2 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:56px;
  width:14px;
  height:8px;
}
#u623_seg3 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:50px;
  width:20px;
  height:20px;
}
#u623_text {
  border-width:0px;
  position:absolute;
  left:92px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:2229px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u624_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:763px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#996633;
}
#u625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:712px;
  width:0px;
  height:0px;
}
#u626_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:106px;
  height:8px;
}
#u626_seg1 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:-4px;
  width:8px;
  height:70px;
}
#u626_seg2 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:58px;
  width:97px;
  height:8px;
}
#u626_seg3 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:52px;
  width:20px;
  height:20px;
}
#u626_text {
  border-width:0px;
  position:absolute;
  left:52px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:697px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u627_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:1012px;
  top:799px;
  width:247px;
  height:170px;
}
#u628_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:2342px;
  width:247px;
  height:92px;
}
#u629_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(251, 110, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:1303px;
  width:63px;
  height:25px;
  color:#FFFFFF;
  text-align:center;
}
#u630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:749px;
  width:72px;
  height:49px;
}
#u631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:185px;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:973px;
  width:274px;
  height:185px;
}
#u632_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:145px;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:2057px;
  width:274px;
  height:145px;
}
#u633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:189px;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:742px;
  width:274px;
  height:189px;
}
#u634_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:189px;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:1840px;
  width:274px;
  height:189px;
}
#u635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:1840px;
  width:72px;
  height:49px;
}
#u636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:822px;
  width:180px;
  height:42px;
}
#u637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:1045px;
  width:180px;
  height:42px;
}
#u638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:1260px;
  width:180px;
  height:42px;
}
#u639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:1472px;
  width:180px;
  height:42px;
}
#u640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1698px;
  width:180px;
  height:42px;
}
#u641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1905px;
  width:180px;
  height:42px;
}
#u642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:2133px;
  width:180px;
  height:42px;
}
#u643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:155px;
  width:65px;
  height:63px;
}
#u644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:190px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:249px;
  width:335px;
  height:190px;
}
#u645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:313px;
  width:145px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:389px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:250px;
  width:341px;
  height:389px;
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:400px;
  width:145px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:190px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:449px;
  width:335px;
  height:190px;
}
#u649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:511px;
  width:129px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(251, 110, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:1853px;
  width:70px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  word-wrap:break-word;
}
#u652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(251, 110, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:2064px;
  width:70px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  word-wrap:break-word;
}
#u653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(251, 110, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:1630px;
  width:70px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  word-wrap:break-word;
}
#u654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(251, 110, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:1412px;
  width:70px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  word-wrap:break-word;
}
#u655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(251, 110, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:1200px;
  width:70px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  word-wrap:break-word;
}
#u656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(251, 110, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:979px;
  width:70px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  word-wrap:break-word;
}
#u657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(251, 110, 20, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:754px;
  width:70px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:70px;
  word-wrap:break-word;
}
