body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:699px;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:750px;
  height:699px;
}
#u348_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1562px;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:794px;
  width:750px;
  height:1562px;
}
#u349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:2476px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u350_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:2478px;
  width:81px;
  height:25px;
  font-size:16px;
  color:#996633;
}
#u351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:2522px;
  width:247px;
  height:108px;
}
#u352_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:2491px;
  width:0px;
  height:0px;
}
#u353_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:537px;
  height:8px;
}
#u353_seg1 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:-10px;
  width:20px;
  height:20px;
}
#u353_text {
  border-width:0px;
  position:absolute;
  left:216px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:665px;
  width:134px;
  height:40px;
}
#u354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:703px;
  height:47px;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:608px;
  width:703px;
  height:47px;
}
#u355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:130px;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:2251px;
  width:786px;
  height:130px;
}
#u356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
