body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-48px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:5013px;
}
#u8287 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:30px;
  width:1920px;
  height:5013px;
}
#u8287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
