body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:344px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:750px;
  height:344px;
}
#u437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:161px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:446px;
  width:750px;
  height:161px;
}
#u438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:220px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:601px;
  width:750px;
  height:220px;
}
#u439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:238px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:925px;
  width:750px;
  height:238px;
}
#u440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:253px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u441_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:254px;
  width:97px;
  height:27px;
  font-size:16px;
  color:#996633;
}
#u442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:268px;
  width:0px;
  height:0px;
}
#u443_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:484px;
  height:8px;
}
#u443_seg1 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:-10px;
  width:20px;
  height:20px;
}
#u443_text {
  border-width:0px;
  position:absolute;
  left:190px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:291px;
  width:247px;
  height:78px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u444_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#009999;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:386px;
  width:152px;
  height:27px;
  font-size:16px;
  color:#009999;
}
#u445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:78px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:423px;
  width:247px;
  height:78px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u446_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#009999;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:525px;
  width:152px;
  height:27px;
  font-size:16px;
  color:#009999;
}
#u447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:103px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:562px;
  width:247px;
  height:103px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u448_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:1446px;
  top:218px;
  width:120px;
  height:27px;
  font-size:16px;
  color:#0000FF;
}
#u449_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:150px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:1446px;
  top:246px;
  width:247px;
  height:150px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u450_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:182px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:1446px;
  top:404px;
  width:756px;
  height:182px;
}
#u451_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:1446px;
  top:600px;
  width:120px;
  height:27px;
  font-size:16px;
  color:#0000FF;
}
#u452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:142px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:1446px;
  top:637px;
  width:247px;
  height:142px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u453_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:189px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:1446px;
  top:808px;
  width:753px;
  height:189px;
}
#u454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:1446px;
  top:1095px;
  width:146px;
  height:27px;
  font-size:16px;
  color:#0000FF;
}
#u455_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:145px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:1446px;
  top:1132px;
  width:247px;
  height:145px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u456_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:184px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:1446px;
  top:1308px;
  width:729px;
  height:184px;
}
#u457_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:614px;
  width:0px;
  height:0px;
}
#u458_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:140px;
  height:8px;
}
#u458_seg1 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:-386px;
  width:8px;
  height:390px;
}
#u458_seg2 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:-386px;
  width:63px;
  height:8px;
}
#u458_seg3 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:-392px;
  width:20px;
  height:20px;
}
#u458_text {
  border-width:0px;
  position:absolute;
  left:86px;
  top:-160px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:614px;
  width:0px;
  height:0px;
}
#u459_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:199px;
  height:8px;
}
#u459_seg1 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:-10px;
  width:20px;
  height:20px;
}
#u459_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:614px;
  width:0px;
  height:0px;
}
#u460_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:141px;
  height:8px;
}
#u460_seg1 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:-4px;
  width:8px;
  height:503px;
}
#u460_seg2 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:491px;
  width:62px;
  height:8px;
}
#u460_seg3 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:485px;
  width:20px;
  height:20px;
}
#u460_text {
  border-width:0px;
  position:absolute;
  left:87px;
  top:200px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:702px;
  width:97px;
  height:27px;
  font-size:16px;
  color:#996633;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:748px;
  width:247px;
  height:78px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u462_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#009999;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:851px;
  width:49px;
  height:27px;
  font-size:16px;
  color:#009999;
}
#u463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:888px;
  width:247px;
  height:63px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u464_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#009999;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:964px;
  width:49px;
  height:27px;
  font-size:16px;
  color:#009999;
}
#u465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:998px;
  width:247px;
  height:63px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u466_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:629px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u467_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:1227px;
  width:81px;
  height:27px;
  font-size:16px;
  color:#996633;
}
#u468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:1270px;
  width:247px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:644px;
  width:0px;
  height:0px;
}
#u470_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u470_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-4px;
  width:8px;
  height:605px;
}
#u470_seg2 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:593px;
  width:86px;
  height:8px;
}
#u470_seg3 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:587px;
  width:20px;
  height:20px;
}
#u470_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:310px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:23px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:514px;
  width:93px;
  height:30px;
  font-size:23px;
}
#u471_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:454px;
  width:721px;
  height:104px;
}
#u472_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:80px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:464px;
  width:125px;
  height:80px;
}
#u473_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:95px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:455px;
  width:397px;
  height:95px;
}
#u474_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:504px;
  width:0px;
  height:0px;
}
#u475_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:698px;
  height:8px;
}
#u475_seg1 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:-4px;
  width:8px;
  height:220px;
}
#u475_seg2 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:208px;
  width:67px;
  height:8px;
}
#u475_seg3 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:202px;
  width:20px;
  height:20px;
}
#u475_text {
  border-width:0px;
  position:absolute;
  left:434px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:489px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u476_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:902px;
  width:113px;
  height:36px;
  font-size:28px;
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:825px;
  width:113px;
  height:36px;
  font-size:28px;
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:2px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:888px;
  width:690px;
  height:1px;
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:731px;
  width:127px;
  height:36px;
  font-size:28px;
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:52px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:899px;
  width:54px;
  height:52px;
}
#u481_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:831px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u483_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:831px;
  width:1px;
  height:1px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:838px;
  width:16px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:729px;
  width:60px;
  height:44px;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:737px;
  width:30px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u487_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:right;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:831px;
  width:127px;
  height:27px;
  font-size:20px;
  text-align:right;
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 245, 239, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF8740;
  text-align:center;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:2047px;
  top:847px;
  width:116px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF8740;
  text-align:center;
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:734px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:1365px;
  width:65px;
  height:27px;
  font-size:16px;
  color:#996633;
}
#u491_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:1004px;
  top:1408px;
  width:247px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u492_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:764px;
  width:0px;
  height:0px;
}
#u493_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:619px;
}
#u493_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:611px;
  width:636px;
  height:8px;
}
#u493_seg2 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:605px;
  width:20px;
  height:20px;
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:607px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
