body {
  margin:0px;
  background-color:rgba(241, 241, 241, 1);
  background-image:none;
  position:relative;
  left:-100px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2467 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:1200px;
  height:30px;
}
#u2467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:2px;
}
#u2468 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:101px;
  width:1200px;
  height:1px;
}
#u2468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2469 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:39px;
  width:25px;
  height:25px;
  color:#999999;
}
#u2469_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:441px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2470 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:293px;
  width:240px;
  height:441px;
}
#u2470_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u2471 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:111px;
  width:240px;
  height:40px;
  color:#FF0000;
  text-align:center;
}
#u2471_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u2472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u2472 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:151px;
  width:240px;
  height:40px;
  color:#000000;
  text-align:center;
}
#u2472_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u2473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2473 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:191px;
  width:240px;
  height:40px;
  text-align:center;
}
#u2473_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u2474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2474 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:231px;
  width:240px;
  height:40px;
  text-align:center;
}
#u2474_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u2475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2475 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:271px;
  width:240px;
  height:40px;
  text-align:center;
}
#u2475_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u2476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2476 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:311px;
  width:240px;
  height:40px;
  text-align:center;
}
#u2476_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u2477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2477 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:398px;
  width:240px;
  height:40px;
  text-align:center;
}
#u2477_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u2478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2478 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:438px;
  width:240px;
  height:40px;
  text-align:center;
}
#u2478_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u2479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2479 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:478px;
  width:240px;
  height:40px;
  text-align:center;
}
#u2479_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u2480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2480 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:534px;
  width:240px;
  height:40px;
  text-align:center;
}
#u2480_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u2481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2481 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:574px;
  width:240px;
  height:40px;
  text-align:center;
}
#u2481_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u2482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2482 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:614px;
  width:240px;
  height:40px;
  text-align:center;
}
#u2482_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u2483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2483 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:351px;
  width:240px;
  height:40px;
  text-align:center;
}
#u2483_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u2484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2484 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:38px;
  width:1200px;
  height:60px;
}
#u2484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:50px;
}
#u2485 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:46px;
  width:172px;
  height:50px;
}
#u2485_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2486 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:38px;
  width:159px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2486_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:159px;
  word-wrap:break-word;
}
#u2487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2487 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:38px;
  width:159px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2487_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:159px;
  word-wrap:break-word;
}
#u2488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2488 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:38px;
  width:159px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2488_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:159px;
  word-wrap:break-word;
}
#u2489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2489 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:38px;
  width:159px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2489_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:159px;
  word-wrap:break-word;
}
#u2490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2490 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:108px;
  width:950px;
  height:183px;
}
#u2490_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2491 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:113px;
  width:65px;
  height:21px;
  font-size:16px;
}
#u2491_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2492 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:114px;
  width:15px;
  height:15px;
}
#u2492_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2493 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:143px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u2493_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2494 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:170px;
  width:135px;
  height:20px;
  color:#000000;
}
#u2494_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u2495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:134px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2495 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:127px;
  width:256px;
  height:134px;
}
#u2495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2496 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:247px;
  width:129px;
  height:30px;
  color:#FF0000;
}
#u2496_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u2497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:337px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2497 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:320px;
  width:950px;
  height:337px;
}
#u2497_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2498 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:330px;
  width:65px;
  height:21px;
  font-size:16px;
}
#u2498_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2499 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:330px;
  width:8px;
  height:20px;
}
#u2499_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2500 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:370px;
  width:65px;
  height:21px;
  font-size:16px;
}
#u2500_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2501 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:413px;
  width:390px;
  height:120px;
}
#u2501_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2502 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:474px;
  width:154px;
  height:20px;
}
#u2502_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u2503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2503 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:504px;
  width:167px;
  height:20px;
}
#u2503_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u2504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2504 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:413px;
  width:390px;
  height:120px;
}
#u2504_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2505 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:469px;
  width:195px;
  height:20px;
}
#u2505_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u2506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2506 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:499px;
  width:236px;
  height:20px;
}
#u2506_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u2507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2507 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:428px;
  width:66px;
  height:20px;
}
#u2507_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u2508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2508 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:428px;
  width:66px;
  height:20px;
}
#u2508_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u2509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#FF0000;
}
#u2509 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:428px;
  width:112px;
  height:20px;
  text-decoration:underline;
  color:#FF0000;
}
#u2509_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u2510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#FF0000;
}
#u2510 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:428px;
  width:112px;
  height:20px;
  text-decoration:underline;
  color:#FF0000;
}
#u2510_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u2511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2511 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:139px;
  width:65px;
  height:21px;
  font-size:16px;
}
#u2511_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2512 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:176px;
  width:103px;
  height:21px;
  font-size:16px;
}
#u2512_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u2513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2513 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:215px;
  width:129px;
  height:30px;
  color:#FF0000;
}
#u2513_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u2514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2514 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:200px;
  width:113px;
  height:20px;
  color:#000000;
}
#u2514_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2515 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:130px;
  width:100px;
  height:100px;
}
#u2515_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u2516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2516 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:241px;
  width:1px;
  height:20px;
}
#u2516_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u2517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2517 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:247px;
  width:129px;
  height:30px;
  color:#FF0000;
}
#u2517_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
