body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:3332px;
}
#u8269 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1920px;
  height:3332px;
}
#u8269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u8271 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:2258px;
  width:2px;
  height:2px;
  color:#000000;
}
#u8271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u8272 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:2258px;
  width:2px;
  height:2px;
  color:#000000;
}
#u8272_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u8273 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:2243px;
  width:18px;
  height:14px;
  color:#000000;
}
#u8273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u8274 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:2245px;
  width:14px;
  height:10px;
  color:#000000;
}
#u8274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
