body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:3332px;
}
#u8278 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1920px;
  height:3332px;
}
#u8278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u8280 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:2258px;
  width:2px;
  height:2px;
  color:#000000;
}
#u8280_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u8281 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:2258px;
  width:2px;
  height:2px;
  color:#000000;
}
#u8281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
}
#u8282 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:2243px;
  width:18px;
  height:14px;
  color:#000000;
}
#u8282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u8283 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:2245px;
  width:14px;
  height:10px;
  color:#000000;
}
#u8283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
