body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-67px;
  width:1545px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1545px;
  height:981px;
}
#u8284 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:34px;
  width:1545px;
  height:981px;
}
#u8284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
