body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2119px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2652px;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:100px;
  width:750px;
  height:2652px;
}
#u304_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:2931px;
  width:750px;
  height:1334px;
}
#u305_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:1401px;
  top:149px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u306_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:1629px;
  top:150px;
  width:145px;
  height:27px;
  font-size:16px;
  color:#996633;
}
#u307_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:433px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u308_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:504px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u309_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:1401px;
  top:652px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u310_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:1431px;
  top:164px;
  width:0px;
  height:0px;
}
#u311_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:202px;
  height:8px;
}
#u311_seg1 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:-10px;
  width:20px;
  height:20px;
}
#u311_text {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:131px;
  background:inherit;
  background-color:rgba(153, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:1827px;
  top:159px;
  width:247px;
  height:131px;
}
#u312_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:1629px;
  top:434px;
  width:177px;
  height:27px;
  font-size:16px;
  color:#996633;
}
#u313_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:1629px;
  top:505px;
  width:145px;
  height:27px;
  font-size:16px;
  color:#996633;
}
#u314_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:1380px;
  top:448px;
  width:0px;
  height:0px;
}
#u315_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:253px;
  height:8px;
}
#u315_seg1 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:-10px;
  width:20px;
  height:20px;
}
#u315_text {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:1380px;
  top:519px;
  width:0px;
  height:0px;
}
#u316_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:253px;
  height:8px;
}
#u316_seg1 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:-10px;
  width:20px;
  height:20px;
}
#u316_text {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:1629px;
  top:653px;
  width:65px;
  height:27px;
  font-size:16px;
  color:#996633;
}
#u317_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:1629px;
  top:707px;
  width:247px;
  height:61px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u318_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:1431px;
  top:667px;
  width:0px;
  height:0px;
}
#u319_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:202px;
  height:8px;
}
#u319_seg1 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:-10px;
  width:20px;
  height:20px;
}
#u319_text {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:1380px;
  top:1411px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u320_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:1380px;
  top:1836px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u321_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:1412px;
  width:113px;
  height:27px;
  font-size:16px;
  color:#996633;
}
#u322_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:61px;
  background:inherit;
  background-color:rgba(153, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:1860px;
  top:1443px;
  width:247px;
  height:61px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u323_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:1426px;
  width:0px;
  height:0px;
}
#u324_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:200px;
  height:8px;
}
#u324_seg1 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:-10px;
  width:20px;
  height:20px;
}
#u324_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:153px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:1603px;
  top:1443px;
  width:247px;
  height:153px;
}
#u325_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:1603px;
  top:1837px;
  width:65px;
  height:27px;
  font-size:16px;
  color:#996633;
}
#u326_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:1851px;
  width:0px;
  height:0px;
}
#u327_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:197px;
  height:8px;
}
#u327_seg1 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:-10px;
  width:20px;
  height:20px;
}
#u327_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:98px;
  background:inherit;
  background-color:rgba(153, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:1872px;
  top:1874px;
  width:247px;
  height:98px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u328_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:1606px;
  top:1874px;
  width:247px;
  height:77px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u329_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
