body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2084px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1902px;
  height:1199px;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:1902px;
  height:1199px;
}
#u611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:415px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:808px;
  width:428px;
  height:415px;
}
#u612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:808px;
  width:428px;
  height:33px;
  font-size:16px;
  color:#000000;
}
#u613_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:424px;
  word-wrap:break-word;
}
#u614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:855px;
  width:57px;
  height:20px;
}
#u614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:946px;
  width:57px;
  height:20px;
}
#u615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:853px;
  width:158px;
  height:25px;
}
#u616_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:946px;
  width:51px;
  height:21px;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u617_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:946px;
  width:51px;
  height:21px;
}
#u618_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u618_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:1173px;
  width:83px;
  height:25px;
}
#u619_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:1178px;
  width:29px;
  height:20px;
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:900px;
  width:57px;
  height:20px;
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:898px;
  width:158px;
  height:25px;
}
#u622_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:986px;
  width:57px;
  height:20px;
}
#u623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:996px;
  width:100px;
  height:20px;
}
#u624_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u624_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:996px;
  width:100px;
  height:20px;
}
#u625_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u625_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:1037px;
  width:100px;
  height:20px;
}
#u626_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u626_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:1037px;
  width:100px;
  height:20px;
}
#u627_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u627_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:1075px;
  width:100px;
  height:20px;
}
#u628_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u628_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:1075px;
  width:100px;
  height:20px;
}
#u629_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u629_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:1110px;
  width:100px;
  height:20px;
}
#u630_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u630_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
}
#u631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:384px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:1164px;
  top:815px;
  width:428px;
  height:384px;
}
#u631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:1164px;
  top:815px;
  width:428px;
  height:33px;
  font-size:16px;
  color:#000000;
}
#u632_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:424px;
  word-wrap:break-word;
}
#u633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:1241px;
  top:862px;
  width:57px;
  height:20px;
}
#u633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:1241px;
  top:903px;
  width:57px;
  height:20px;
}
#u634_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:1318px;
  top:903px;
  width:51px;
  height:21px;
}
#u635_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u635_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:903px;
  width:73px;
  height:21px;
}
#u636_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u636_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:1394px;
  top:1140px;
  width:83px;
  height:25px;
}
#u637_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:1145px;
  width:29px;
  height:20px;
}
#u638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:1241px;
  top:943px;
  width:57px;
  height:20px;
}
#u639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:1318px;
  top:953px;
  width:100px;
  height:20px;
}
#u640_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u640_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:1446px;
  top:953px;
  width:100px;
  height:20px;
}
#u641_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u641_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:1318px;
  top:994px;
  width:100px;
  height:20px;
}
#u642_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u642_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:1446px;
  top:994px;
  width:100px;
  height:20px;
}
#u643_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u643_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:1318px;
  top:1032px;
  width:100px;
  height:20px;
}
#u644_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u644_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:1446px;
  top:1032px;
  width:100px;
  height:20px;
}
#u645_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u645_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:1318px;
  top:1067px;
  width:100px;
  height:20px;
}
#u646_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u646_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
}
#u647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:1318px;
  top:862px;
  width:99px;
  height:20px;
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:271px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:1656px;
  top:816px;
  width:428px;
  height:271px;
}
#u648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:1656px;
  top:816px;
  width:428px;
  height:33px;
  font-size:16px;
  color:#000000;
}
#u649_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:424px;
  word-wrap:break-word;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:1886px;
  top:1031px;
  width:83px;
  height:25px;
}
#u650_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:1818px;
  top:1036px;
  width:29px;
  height:20px;
}
#u651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:1733px;
  top:908px;
  width:43px;
  height:20px;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:1810px;
  top:906px;
  width:158px;
  height:25px;
}
#u653_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:1733px;
  top:958px;
  width:57px;
  height:20px;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:1810px;
  top:956px;
  width:158px;
  height:25px;
}
#u655_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:1733px;
  top:863px;
  width:57px;
  height:20px;
}
#u656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:1810px;
  top:859px;
  width:85px;
  height:20px;
}
#u657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
